
html, body {
  background: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
}

.nav {i
  height: 10%;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.nav .menu,
.btn {
  cursor: pointer;
  min-width: 50px;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.row {
  height:90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row h1 {
  font-size: 100px;
}

